// @import '~bootstrap/scss/_functions';
// @import '~bootstrap/scss/_variables';
// @import '~bootstrap/scss/_mixins';

// @import 'bootstrap/scss/_reboot';  //  引入样式重置
// @import 'bootstrap/scss/_grid';  //  引入栅格

@import './variant.scss';
@import './mixin.scss';

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
    color: $color-dark-font;
}

#root {
    height: 100%;
    box-sizing: border-box;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

ol li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $color-dark-font;
}

a:hover {
    text-decoration: underline;
    color: $color-main;
}

button{
    border: none;
}

.btn{
    font-size: 16px;
    font-weight: 600;
    color: $color-main;
    @include main-border;
    border-radius: 4px;
    padding: 10px 30px;
}

.primary-btn{
    background-color: $color-main;
}

.primary-btn:hover{
    background-color: $color-dark-main;
}

.primary-btn.btn{
    color: #fff;
}