@import "~bootstrap/scss/bootstrap";
@import "@/sass/custom.scss";


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
}

#root {
    height: 100%;
    box-sizing: border-box;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

ol li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}