@import "sass/variant.scss";
@import "sass/mixin.scss";


:local(.header) {
  height: 54px;
  overflow: hidden;
  box-sizing: border-box;
  @include flex($justify: space-between);
  @include gray-border($postion:bottom);

  &__menuIcon{
    padding: 15px 8px 15px 16px;
    cursor: pointer;
  }

  &__logo{
    &>img{
      height: 32px;
      width: auto;
    }
  }

  &__right{
    display: flex;
  }

  &__avatar{
    padding: 15px 16px 15px 8px;
    cursor: pointer;
  }
  &__cart{
    padding: 15px 16px 15px 8px;
    cursor: pointer;
  }

}

@include tablet{
  :local(.header){
    height: 70px;
  }

}

@include desktop{
  :local(.header){
    padding:0 30px;
    &__menuIcon{
      display: none;
    }    
    &__logo{
      padding: 10px 0;
      &>img{
        height: 34px;
        width: auto;
      }
    }
    &__cart{
      padding: 15px 0 15px 8px;
    }
  }
}








